<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body class="mat-typography mat-app-background">
    <section class="footer">
        <hr>
        <p>About Us</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse minima incidunt odio nam facilis, eligendi
            <br> Itaque fugiat cupiditate consectetur. Aliquid ab deserunt exercitationem, illum molestiae
            dolorem.
        </p>

        <div class="icons">
            <!-- Facebook -->
            <a class="social-btn-design" style="background-color: #3b5998;" role="button" routerLink="facebook">
                <mat-icon><i class="fab fa-facebook-f"></i></mat-icon>
            </a>

            <!-- Twitter -->
            <a class="social-btn-design" style="background-color: #55acee;" role="button">
                <mat-icon><i class="fab fa-twitter"></i></mat-icon>
            </a>

            <!-- Google -->
            <a class="social-btn-design" style="background-color: #dd4b39;" role="button">
                <mat-icon><i class="fab fa-google"></i></mat-icon>
            </a>

            <!-- Instagram -->
            <a class="social-btn-design" style="background-color: #ac2bac;" role="button">
                <mat-icon><i class="fab fa-instagram"></i></mat-icon>
            </a>

            <!-- Linkedin -->
            <a class="social-btn-design" style="background-color: #0082ca;" role="button">
                <mat-icon><i class="fab fa-linkedin-in"></i></mat-icon>
            </a>
        </div>
        <p>Copyright © 2022 <a routerLink="/home">Angular Multipage</a>. All Rights Reserved</p>
    </section>
</body>