<body class="mat-typography mat-app-background">
    <section class="about-content">
        <h1>about us</h1>
        <div class="row">
            <div class="col">
                <img src="assets/img/about.png" alt="post img">
            </div>
            <div class="col col-content">
                <h2>Heading for content</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolor consequatur, nobis quae
                    obcaecati
                    delectus at aspernatur, placeat quasi iure mollitia. Repellendus a ut nostrum dolore velit odit
                    cumque,
                    quos
                    doloribus sint id aperiam eius aliquam quo modi sequi rem quia exercitationem laborum, ratione
                    expedita!
                    Deleniti velit officia incidunt illum.</p>                  
            </div>
        </div>
        <div class="row right-reverse">
            <div class="col col-content">
                <h2>Heading for content</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore corrupti blanditiis deserunt
                    incidunt itaque ut laudantium a amet omnis nihil, dolor doloribus. Voluptatum, accusantium? Quo,
                    aperiam nobis labore pariatur, esse vitae amet repellendus libero architecto nisi facere unde
                    ducimus perspiciatis, laudantium alias porro. Sapiente voluptatem eligendi at voluptatum optio
                    facilis?</p>
            </div>
            <div class="col right "><img src="assets/img/edu1.jpg" alt="post img"></div>
        </div>
        <div class="row">
            <div class="col ">
                <img src="assets/img/edu2.jpg" alt="post img">
            </div>
            <div class="col col-content">
                <h2>Heading for content</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium dolor consequatur, nobis quae
                    obcaecati
                    delectus at aspernatur, placeat quasi iure mollitia. Repellendus a ut nostrum dolore velit odit
                    cumque,
                    quos
                    doloribus sint id aperiam eius aliquam quo modi sequi rem quia exercitationem laborum, ratione
                    expedita!
                    Deleniti velit officia incidunt illum.</p>
            </div>
        </div>
        <div class="row right-reverse">
            <div class="col col-content">
                <h2>Heading for content</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore corrupti blanditiis deserunt
                    incidunt itaque ut laudantium a amet omnis nihil, dolor doloribus. Voluptatum, accusantium? Quo,
                    aperiam nobis labore pariatur, esse vitae amet repellendus libero architecto nisi facere unde
                    ducimus perspiciatis, laudantium alias porro. Sapiente voluptatem eligendi at voluptatum optio
                    facilis?</p>
            </div>
            <div class="col right"><img src="assets/img/edu3.jpg" alt="post img"></div>
        </div>
        <button mat-raised-button routerLink="/course" color="accent">EXPLORE NOW</button>
    </section>
    <app-footer></app-footer>
</body>