<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="mat-typography mat-app-background">
    <mat-card class="mat-card">
        <mat-tab-group animationDuration="500" mat-align-tabs="center">
            <mat-tab label="Login">
                <app-login></app-login>
            </mat-tab>
            <mat-tab label="Signup">
                <app-signup></app-signup>
            </mat-tab>>
        </mat-tab-group>
    </mat-card>
</body>