<body class="mat-typography mat-app-background">
    <section class="course">
        <h1>Course We Offer</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        <div class="course-card">
            <mat-card>
                <mat-card-title>
                    <h3>Undergraduate Programs</h3>
                </mat-card-title>
                <mat-card-content>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique dolor corporis, commodi nihil
                        quas
                        soluta labore quisquam impedi distinctio explicabo aut minima quos pariatur unde aliquam earum
                        laborum velit non.</p>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-title>
                    <h3>Graduate Programs</h3>
                </mat-card-title>
                <mat-card-content>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique dolor corporis, commodi nihil
                        quas
                        soluta labore quisquam impedit distinctio explicabo aut minima quos pariatur unde aliquam earum
                        laborum velit non.</p>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-title>
                    <h3>Adult Learning & Degree Completion</h3>
                </mat-card-title>
                <mat-card-content>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique dolor corporis, commodi nihil
                        quas
                        soluta labore quisquam impedit distinctio explicabo aut minima quos pariatur unde aliquam earum
                        laborum velit non.</p>
                </mat-card-content>
            </mat-card>
        </div>
    </section>


    <section class="facilities">
        <div class="PageBlock">
            <div class="verticalLine"></div>
            <div class="Clear"></div>
        </div>
        <h1>Best Courses</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>

        <div class="row">
            <div class="facilities-col">
                <mat-card>
                    <img mat-card-image src="assets/img/course1.png" alt="">
                    <mat-card-title>
                        <h3>Web Development</h3>
                    </mat-card-title>
                    <mat-card-content>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio omnis asperiores atque
                            aperiam.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="facilities-col">
                <mat-card>
                    <img mat-card-image src="assets/img/course2.png" alt="">
                    <mat-card-title>
                        <h3>Artificial Intelligence</h3>
                    </mat-card-title>
                    <mat-card-content>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio omnis asperiores atque
                            aperiam.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="facilities-col">
                <mat-card>
                    <img mat-card-image src="assets/img/course3.png" alt="">
                    <mat-card-title>
                        <h3>Data Science</h3>
                    </mat-card-title>
                    <mat-card-content>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio omnis asperiores atque
                            aperiam.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </section>

    <app-footer></app-footer>
</body>