<body class="mat-typography mat-app-background">
    <section class='starter container-fluid'>
        <div class="row">
            <div class="col">
                <h1>Your Education is Our First Priority<strong
                        class='brand-name ms-2'>Xplore Skill</strong></h1>
                <h2 class='my-3'>Consult our Faculties from Top Universities</h2>
                <div class="mt-3">
                    <button mat-stroked-button routerLink="/signin" color="accent">Get Started</button>
                </div>
            </div>
            <div class=" col header-img ">
                <img src='assets/img/starter.webp' class='animated' alt='image' />
            </div>
        </div>
    </section>
</body>