<body class="mat-typography mat-app-background">
    <!-- Course Section Start -->
    <section class="course">
        <h1>EXPLORE OUR 60+ <br> MAJOR PROGRAMS</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>

        <div class="course-card">
            <mat-card>
                <mat-card-title>
                    <h3>Undergraduate Programs</h3>
                </mat-card-title>
                <mat-card-content>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique dolor corporis, commodi nihil quas
                        soluta labore quisquam impedi distinctio explicabo aut minima quos pariatur unde aliquam earum
                        laborum velit non.</p>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-title>
                    <h3>Graduate Programs</h3>
                </mat-card-title>
                <mat-card-content>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique dolor corporis, commodi nihil quas
                        soluta labore quisquam impedit distinctio explicabo aut minima quos pariatur unde aliquam earum
                        laborum velit non.</p>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-title>
                    <h3>Adult Learning & Degree Completion</h3>
                </mat-card-title>
                <mat-card-content>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique dolor corporis, commodi nihil quas
                        soluta labore quisquam impedit distinctio explicabo aut minima quos pariatur unde aliquam earum
                        laborum velit non.</p>
                </mat-card-content>
            </mat-card>
        </div>
    </section>
    <!-- Course Section End -->

    <!-- Campus Section Start-->

    <section class="campus">
        <div class="PageBlock">
            <div class="verticalLine"></div>
            <div class="Clear"></div>
        </div>
        <h1>TAKE OUR VIRTUAL TOUR</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>

        <div class="row">
            <div class="campus-col">
                <img src="assets/img/Campus1.png" alt="">
                <div class="layer">
                    <h3>DELHI</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="assets/img/Campus2.png" alt="">
                <div class="layer">
                    <h3>HYDERABAD</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="assets/img/Campus3.png" alt="">
                <div class="layer">
                    <h3>MUMBAI</h3>
                </div>
            </div>
        </div>
    </section>
    <!-- Campus Section End -->

    <!-- Facilities Section Start -->
    <section class="facilities">
        <div class="PageBlock">
            <div class="verticalLine"></div>
            <div class="Clear"></div>
        </div>
        <h1>Our Facilities</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>

        <div class="row">
            <div class="facilities-col">
                <mat-card>
                    <img mat-card-image src="assets/img/libary.png" alt="">
                    <mat-card-title><h3>Best Libary</h3></mat-card-title>
                    <mat-card-content>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio omnis asperiores atque aperiam.
                        </p>
                    </mat-card-content>
                </mat-card>                
            </div>
            <div class="facilities-col">
                <mat-card>
                    <img mat-card-image src="assets/img/playground.png" alt="">
                    <mat-card-title>
                        <h3>Athletics</h3>
                    </mat-card-title>
                    <mat-card-content>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio omnis asperiores atque aperiam.
                        </p>
                    </mat-card-content>
                </mat-card>              
            </div>
            <div class="facilities-col">
                <mat-card>
                    <img mat-card-image src="assets/img/food.png" alt="">
                    <mat-card-title>
                        <h3>Tasty and Healthy Food</h3>
                    </mat-card-title>
                    <mat-card-content>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio omnis asperiores atque aperiam.
                        </p>
                    </mat-card-content>
                </mat-card>               
            </div>
        </div>
    </section>
    <!-- Facilities Section End -->

    <!-- Testimonials Section Start -->
    <section class="testimonials">
        <div class="PageBlock">
            <div class="verticalLine"></div>
            <div class="Clear"></div>
        </div>
        <h1>What Our Student Says</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>

        <div class="row">
            <div class="testimonials-col">
                <mat-card>
                    <mat-card-header>
                        <img mat-card-avatar src="assets/img/user.png" alt="oo..">
                        <mat-card-title>
                            <h3>Student Name</h3>
                        </mat-card-title>
                        <mat-card-subtitle >
                            <div>  
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </mat-card-subtitle>                        
                    </mat-card-header>
                    <mat-card-content class="mt-2">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi maiores in nostrum rerum voluptatem
                            praesentium veritatis alias omnis voluptate nisi aperiam, voluptatum quibusdam itaque a
                            deserunt. In quia repellat maxime.</p>
                    </mat-card-content>
                </mat-card>               
            </div>
            <div class="testimonials-col">
                <mat-card>
                    <mat-card-header>
                        <img mat-card-avatar src="assets/img/user.png" alt="oo..">
                        <mat-card-title>
                            <h3>Student Name</h3>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <div>
                                <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star"></i>
                                 <i class="fa fa-star-half-alt"></i>
                             </div>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="mt-2">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi maiores in nostrum rerum voluptatem
                            praesentium veritatis alias omnis voluptate nisi aperiam, voluptatum quibusdam itaque a
                            deserunt. In quia repellat maxime.</p>
                    </mat-card-content>
                </mat-card>             
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</body>
